<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Document</title>
</head>
<body>
    <h1>ABOUT SEBASTIEN</h1>
    <p>Sébastien Tellier (born 22 February 1975) is a French singer, songwriter and multi-instrumentalist. He represented France in the Eurovision Song Contest 2008 with his song "Divine". He has also produced songs for Dita Von Teese and composed music for the French films Narco and Steak, among others. Tellier is currently signed to Record Makers, a French independent record label. He sings in English, French and Italian.</p>
    <a href="/">HOME</a>
</body>
</html>