<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Document</title>
</head>
<body>
    <h1>SEBASTIEN TELLIER</h1>
    <h2>Welcome to one webpage about Sebastien Tellier, the musician</h2>
    <details>
        <summary>ABOUT</summary>
        <a href="/about">Go to info about Sebastién</a>
    </details>
    <details>
        <summary>PHOTOGALLERY</summary>
        <a href="/photogallery">Go to a photogallery of Sebastién</a>
    </details>
    <details>
        <summary>WORKS</summary>
        <a href="/works">Go to the works of Sebastién</a>
    </details>
</body>
</html>