<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Document</title>
</head>
<body>
    
    <h1>WORKS</h1>
    <h2>Sebastien has created 7 studio albums and multiple collaborations.</h2>
    <h2>Here there are the three first studio albums</h2>
    <a href="https://en.wikipedia.org/wiki/L%27incroyable_V%C3%A9rit%C3%A9">
        <img class="albumsPictures" src="/images/Sébastien_Tellier_L'Incroyable_Verite_cover.jpg" alt="l'Incroyable_Verite_cover"/>
    </a>
    <a href="https://en.wikipedia.org/wiki/Politics_(S%C3%A9bastien_Tellier_album)">
        <img class="albumsPictures" src="/images/Politics_frontcover.jpg" alt="Politics_frontcover" />
    </a>
    <a href="https://en.wikipedia.org/wiki/Sexuality_(album)">
        <img class="albumsPictures" src="/images/SebastienTellierSexualityCover.jpg" alt="sexuality" />
    </a>
    <hr>
    <a href="/">HOME</a>
</body>
</html>